/* Estilos para los elementos de la lista (li) */
.lista {
    margin: 8px 0;
    /* Añade un pequeño espacio entre cada elemento de la lista */
    font-size: 16px;
    /* Tamaño de fuente */
    color: #333;
    /* Color del texto */
}

.lista ul {
    list-style-type: disc;
    /* Cambia el estilo de la viñeta, por ejemplo, a un círculo sólido */
    margin: 0;
    /* Elimina el margen predeterminado */
    padding: 0;
    /* Elimina el relleno predeterminado */
}